
@model List<ClassLibrary1.User>
@{
    ViewBag.Title = "ListUsers";
}

<h2>ListUsers</h2>

<table>
    <thead>
        <tr >
            <td>Login</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Passport</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var element in Model)
    {
        <p></p>
        <tr>
            <td>@Html.DisplayFor(m => element.Login)</td>
            <td>@Html.DisplayFor(m => element.Name)</td>
            <td>@Html.DisplayFor(m => element.Surname)</td>
            <td>
                @Html.DisplayFor(m => element.Passport.sSerial)
                :
                @Html.DisplayFor(m => element.Passport.sNumber)
            </td>
        </tr>
    }

    </tbody>
</table>